<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <h1><%= requestedTea.title %></h1>
    <p><%= requestedTea.description %></p>
    <p><%= requestedTea.preparation %></p>
    <p><%= requestedTea.pairing %></p>

    <div> <img style="height: 400px" src="<%= requestedTea.picture %>" alt="tea-image"></div>
    <button>Buy</button>
    <div><a href="/teas">Head back to the list of teas</a></div>

</body>

</html>