<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>
    <div class="page-container">
        <div class="item-container">
            <div class="item-image"><img class="item-image__img" src="<%= requestedTea.picture %>" alt="tea-image">
                <div>
                    <href="#">Add to favorites<i class="fa-solid fa-heart fa-lg"></i></a>
                </div>
            </div>
            <div class="item-description">

                <h1><%= requestedTea.title %></h1>
                <p><%= requestedTea.description %></p>
                <p></i><%= requestedTea.preparation %></p>
                <p><%= requestedTea.pairing %></p>

                <div class="item-quantity">
                    <p>Available in our shop
                        <span>50g</span>
                        <span>100g</span>
                        <span>200g</span>
                    </p>
                </div>
                <div><a href="/teas">
                        </i>Head back to the list of teas</a> </div>

            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>